In [5]:
# %pip install mysql-connector-python

In [3]:
import mysql.connector
from mysql.connector import connect, Error
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['figure.figsize'] = (15, 5)
sns.set_style('darkgrid')

In [4]:
employees = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="employees"
)

cursor = employees.cursor()

In [6]:
df = pd.read_sql_query(
    '''
    SELECT e.birth_date, e.first_name, e.last_name, e.gender,
    t.title, t.from_date,
    s.salary
    FROM employees e
    INNER JOIN 
    titles t 
    ON e.emp_no = t.emp_no
    INNER JOIN
    salaries s
    ON t.emp_no = s.emp_no
    GROUP BY e.emp_no ORDER BY e.emp_no;
    ''', employees)

In [8]:
print(df.head(10))

   birth_date first_name  last_name gender               title   from_date  \
0  1953-09-02     Georgi    Facello      M     Senior Engineer  1986-06-26
1  1964-06-02    Bezalel     Simmel      F               Staff  1996-08-03
2  1959-12-03      Parto    Bamford      M     Senior Engineer  1995-12-03
3  1954-05-01  Chirstian    Koblick      M            Engineer  1986-12-01
4  1955-01-21    Kyoichi   Maliniak      M        Senior Staff  1996-09-12
5  1953-04-20     Anneke    Preusig      F     Senior Engineer  1990-08-05
6  1957-05-23    Tzvetan  Zielinski      F        Senior Staff  1996-02-11
7  1958-02-19     Saniya   Kalloufi      M  Assistant Engineer  1998-03-11
8  1952-04-19     Sumant       Peac      F  Assistant Engineer  1985-02-18
9  1963-06-01  Duangkaew   Piveteau      F            Engineer  1996-11-24

   salary
0   60117
1   65828
2   40006
3   40054
4   78228
5   40000
6   56724
7   46671
8   60929
9   72488